<style>
    a{
        padding-right: 20px;
    }

    h1{
        display: inline;
        margin-right: 300px;
    }

    .nav{
        display: inline;
    }
</style>
<header>
    <h1>{{currentPage.up}}</h1>
    <p class="nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/bad">Bad</a>
    </p>
</header>