<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{currentPage.up}}</title>
</head>
<body>
    {{> header}}
    <p>{{currentPage.up}}, the place where i could go, to take this off my shoulder, someone take me {{currentPage.down}}</p>
    {{> footer}}
</body>
</html>